body {
    margin: 0;
}

.columnaA,
.columnaB,
.columnaC,
.columnaD {
    display: flex;
}

.columnaA {
    height: 16vh;
    width: auto;
}

.primeraCajaA {
    flex-grow: 2.4;
    background-color: #F0223B;
}

.segundaCajaA {
    flex-grow: 1;
    background-color: #FA23A9;
}

.primeraCajaB {
    width: 100%;
    background-color: #8D0E96;
}

.columnaC {
    width: 100%;
    flex-direction: column;
}
tt5
.primeraCajaC,
.segundaCajaC {
    width: 100%;
    height: 34vh;
}

.primeraCajaC {
    background-color: #14E3B5;
}

.segundaCajaC {
    background-color: #15967A;
}

.primeraCajaD,
.segundaCajaD,
.terceraCajaD {
    width: 100%;
    height: 16vh;
}

.primeraCajaD {
    background-color: #D72BE3;
}

.segundaCajaD {
    background-color: #F34AFF;
}

.terceraCajaD {
    background-color: #7BE32B;
}